package testsacc

import (
	"context"
	"regexp"
	"testing"

	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/resource"

	"github.com/orange-cloudavenue/terraform-provider-cloudavenue/internal/helpers/testsacc"
	"github.com/orange-cloudavenue/cloudavenue-sdk-go/pkg/urn"
)

var _ testsacc.TestACC = &{{ .FullCamelResourceName }}Resource{}

const (
	{{ .FullCamelResourceName }}ResourceName = testsacc.ResourceName("cloudavenue_{{ .FullSnakeResourceName }}")
)

type {{ .FullCamelResourceName }}Resource struct{}

func New{{ .FullCamelResourceName }}ResourceTest() testsacc.TestACC {
	return &{{ .FullCamelResourceName }}Resource{}
}

// GetResourceName returns the name of the resource.
func (r *{{ .FullCamelResourceName }}Resource) GetResourceName() string {
	return {{ .FullCamelResourceName }}ResourceName.String()
}

func (r *{{ .FullCamelResourceName }}Resource) DependenciesConfig() (resp testsacc.DependenciesConfigResponse) {
	// TODO : Add dependencies config
	// Get default config
	// resp.Append(GetResourceConfig()[CatalogResourceName]().GetDefaultConfig)

	// Get specific config
	// resp.Append(GetResourceConfig()[CatalogResourceName]().GetSpecificConfig("example_specific_config"))
	return
}

func (r *{{ .FullCamelResourceName }}Resource) Tests(ctx context.Context) map[testsacc.TestName]func(ctx context.Context, resourceName string) testsacc.Test {
	return map[testsacc.TestName]func(ctx context.Context, resourceName string) testsacc.Test{
		// TODO : Complete tests
		// * First test named "example"
		"example": func(_ context.Context, resourceName string) testsacc.Test {
			return testsacc.Test{
				CommonChecks: []resource.TestCheckFunc{
					resource.TestCheckResourceAttrWith(resourceName, "id", urn.TestIsType(urn.Catalog)), // TODO : Change type
				},
				CommonDependencies: func() (resp testsacc.DependenciesConfigResponse) {
					// TODO : Add dependencies for this test
					// resp.Append(GetResourceConfig()[CatalogResourceName]().GetDefaultConfig)
					return
				},
				// ! Create testing
				Create: testsacc.TFConfig{
					TFConfig: testsacc.GenerateFromTemplate(resourceName, `
					resource "cloudavenue_{{ .FullSnakeResourceName }}" "example" {
						foo = "bar"
					}`),
					Checks: []resource.TestCheckFunc{
						resource.TestCheckResourceAttr(resourceName, "foo", "bar"),

					},
				},
				// ! Updates testing
				Updates: []testsacc.TFConfig{
					// * Test error
					{
						TFConfig: testsacc.GenerateFromTemplate(resourceName, `
						resource "cloudavenue_{{ .FullSnakeResourceName }}" "example" {
							foo = "barUpdated"
							bar = "foo"
						}`),
						Checks: []resource.TestCheckFunc{
							resource.TestCheckResourceAttr(resourceName, "foo", "barUpdated"),
							resource.TestCheckResourceAttr(resourceName, "bar", "foo"),
						},
						TFAdvanced: testsacc.TFAdvanced{
							ExpectNonEmptyPlan: true,
							PlanOnly:           true,
							ExpectError:        regexp.MustCompile(`Invalid Attribute Value Match`),
						},
					},
					// * Test Update
					{
						TFConfig: testsacc.GenerateFromTemplate(resourceName, `
						resource "cloudavenue_{{ .FullSnakeResourceName }}" "example" {
							foo = "barUpdated"
						}`),
						Checks: []resource.TestCheckFunc{
							resource.TestCheckResourceAttr(resourceName, "foo", "barUpdated"),
						},
					},
				},
				// ! Imports testing
				Imports: []testsacc.TFImport{
					{
						ImportStateIDBuilder: []string{"id"},
						ImportState:          true,
						ImportStateVerify:    true,
					},
				},
			}
		},
	}
}

func TestAcc{{ .FullCamelResourceName }}Resource(t *testing.T) {
	resource.Test(t, resource.TestCase{
		PreCheck:                 func() { TestAccPreCheck(t) },
		ProtoV6ProviderFactories: TestAccProtoV6ProviderFactories,
		Steps:                    testsacc.GenerateTests(&{{ .FullCamelResourceName }}Resource{}),
	})
}
